@import url(https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap);
#spesialonlyfortitle{
    color: blue;
    font-family: 'Shadows Into Light';
}

.ki{
    color: gold;
}   

.ka{
    color: green;
}